<h1>Listing gg_news_files</h1>

<table>
  <thead>
    <tr>
      <th>News</th>
      <th>Downpath</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gg_news_files.each do |gg_news_file| %>
      <tr>
        <td><%= gg_news_file.news_id %></td>
        <td><%= gg_news_file.downpath %></td>
        <td><%= link_to 'Show', gg_news_file %></td>
        <td><%= link_to 'Edit', edit_gg_news_file_path(gg_news_file) %></td>
        <td><%= link_to 'Destroy', gg_news_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gg news file', new_gg_news_file_path %>
